*.jpg
*.png
*.mp4
*.jpeg
/wandb
/training
/vlm2vec_train
/eval-data
/vlm2vec
/eval-images
/encode_output_path
/test
/test-save
/eval-data
/eval-images
/env-fake
# /test-scripts
/eval-res
__pycache__
.venv
vlm
